/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: transparent;
  font-family: sans-serif;
  overflow-y: hidden;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/


}

button {
  background-color: white;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  color: #D9D9D9;
  font-weight: bold;
  transition: all ease-in 0.01s;
  cursor: pointer;
  opacity: 0.9;

}



/*button:hover {*/
/*  transform: scale(1.05);*/
/*  opacity: 1;*/
/*}*/

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
p {
  color: gray;
  text-align: left;
  font-size: 17px;
  text-overflow: ellipsis;
  height: 20px;
  padding-left: 6px;
}
.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.player {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 100%;
  border-radius: 36px;
  overflow: hidden;
  box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.52) inset;

}


.Screen {
  background-color: white;
  width: 388px;
  height: 270px;
  margin-bottom: 50px;
  margin-top: 31px;
  border: 2px solid black;
  border-radius: 5px;

}



.Scrollwheel {
  display: grid;
  gap: 90px;
  place-items: center;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);
}

.ScrollwheelBg {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  width: 314px;
  height: 314px;
  border-radius: 100%;
}

.top {
  grid-column: 2;
  grid-row: 1;
}
.bottom {
  grid-column: 2;
  grid-row: 3;
}
.left {
  grid-column: 1;
  grid-row: 2;
}
.right {
  grid-column: 3;
  grid-row: 2;
}
.center {
  grid-column: 2;
  grid-row: 2;
  background-color: #D9D9D9;
  width: 124px;
  height: 124px;
  border-radius: 124px;
}
/*.center:active {*/
/*  box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.10) inset;*/

/*}*/
ul {
  color: black;
  overflow-y: scroll;
  max-height: 160px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
li {
  text-align: left;
  /*border-top: 1px solid #D9D9D9;*/
}

li:hover {
  display: flex;
  color: blue;
}

audio {
  padding-left: 6px;
}


#scroller button:focus {
  outline: none;
}


.musicbar {
  width: 99%;

}
input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  height: 15px;
  background: #ccc; /* Track base color */
  border-radius: 4px;
  outline: none;
}

